html {scroll-behavior: smooth;}
* {outline: none !important;}
body {font-family: Lato;}
::-moz-selection {background-color: transparent;}
::selection {background-color: transparent;}
.white {color: white;}
ul{list-style-type: none;}
iframe {border: 0 !important;}

.bigBoldText {
    font-size: 6vw;
    font-weight: bolder;
}

@media only screen and (min-width: 1000px){
    .bigBoldText {
        font-size: 55px;
    }
}

.navbar a,
.navbar span {
    padding: 15px;
    color: black;
    font-size: 16px;
}

#firstNavbar #logo {
    position: absolute;
    top: -45px;
    left: 50%; 
    transform: translate(-50%);
}

#firstNavbar #logo img {
    width: 150px;
}

@media only screen and (min-width: 1550px) {
    #firstNavbar {
        display: none !important;
    }
}

#secondNavbar {
    display: flex;
    justify-content: center;
}

#secondNavbar #logo2 {
    position: relative;
    height: 35px;
    top: -45px;
}

#secondNavbar #logo2 img {
    width: 150px;
}

@media only screen and (max-width: 1550px) {
    #secondNavbar {
        display: none !important;
    }
}

#firstSlideshow .slideshow-header {
    position: absolute;
    top: 18vw;
    left: 50%; 
    transform: translate(-75%);
}

#firstSlideshow .slideshow-header h1{
    width: 150%;
    text-align: center;
}

#firstSlideshow .slideshow-header p {
    width: 150%;
    text-align: center;
    font-size: 3.5vw;
}

#firstSlideshow .slideshow-header a {
    text-decoration: none;
    font-size: 2.5vw;
    border-bottom: solid 0.3vw;
    padding-bottom: 1vw;
    margin-left: auto;
    margin: 1vw;
}
#firstSlideshow .slideshow-header button {
    font-size: 2vw;
    border: none;
    padding: 2.5vw 5vw;
    border-radius: 4vw;
    margin: 1vw;
}

#firstSlideshow .some-buttons {
    width: 100%;
    margin-left: 15vw;;
}

@media only screen and (min-width: 900px) {
    #firstSlideshow, #secondSlideshow {
        display: none !important;
    }
}

#firstSlideshowBig {
    max-width: 1375px;
    margin: auto;
}




@media only screen and (max-width: 900px) {
    #firstSlideshowBig {
        display: none !important;
    }
}

#videosGrid {
    display: flex;
    max-width: 1375px;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    #videosGrid {
        display: none !important;
    }
}

#thirdSlideshow #personalizedIndicators {
    max-width: 1460px;
    margin: auto;
    font-size: 30px;
    text-align: center;
}

#thirdSlideshow #personalizedIndicators a {
    text-decoration: none;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px #CCC;
    margin: 35px 15px 15px 15px;
    padding: 15px;
    transition: 0.5s;
}

#thirdSlideshow #personalizedIndicators a:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

#thirdSlideshow .firstGridElem{grid-area: first;}
#thirdSlideshow .secondGridElem{grid-area: second;}
#thirdSlideshow .thirdGridElem{grid-area: third;}
#thirdSlideshow .fourthGridElem{grid-area: fourth;}
#thirdSlideshow .fifthGridElem{grid-area: fifth;}

#thirdSlideshow .offersGrid {
    padding: 2vw;
    max-width: 1460px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "first second fifth fifth"
    "third fourth fifth fifth";
    grid-gap: 1vw;
}
#thirdSlideshow .offersGrid a {
    transition: 0.6s;
}

#thirdSlideshow .offersGrid a:hover {
    box-shadow: 0.6vw 0.6vw 0.6vw #BBB;
    transition: 0.6s;
}

#thirdSlideshow .offersGrid img {height: 100%;}

@media only screen and (max-width: 968px) {
    #thirdSlideshow #personalizedIndicators {font-size: 2.5vw;}
    #thirdSlideshow #personalizedIndicators a {
        margin: 6vw 1vw 1vw 1vw;
        padding: 2vw;
    }
    #thirdSlideshow .offersGrid {
        grid-template-areas:
        "first second"
        "third fourth"
        "fifth fifth"
        "fifth fifth";
    }
}
@media only screen and (max-width: 600px) {
    #thirdSlideshow .offersGrid {
        grid-template-areas:
        "first"
        "second"
        "third"
        "fourth"
        "fifth";
    }
}

#footer {
    background-color: rgb(245, 245, 245);
}

#footer-footnotes {
    padding: 5vw 5vw 3vw 5vw;
    font-size: 14px;
    font-family: Arial;
    color: #555;
}

#footerGrid1 {
    display: flex;
    flex-direction: column;
}

#footerGrid1 a {
    text-decoration: none;
}

#footerGrid1 ul {
    display: none;
    background-color: #EEE;
}

#footerGrid1 .header {
    color: black;
    font-weight: bold;
    font-size: 15px;
    padding: 1.5vw;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #DDD;
}

#footerGrid1 ul li a {
    color: #222;
    display: block;
    padding: 15px;
}

#footerGrid1 ul li a:hover {
    text-decoration: underline;
}

#footerGrid2 {
    display: flex;
    padding-left: 4vw;
    justify-content: space-around;
}

#footerGrid2 .header {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    padding-bottom: 20px;
}

#footerGrid2 ul li a {
    color: black;
    position: relative;
    left: -40px;
}

#finalNotes p {text-align: center;}

@media only screen and (min-width: 900px){
    #footerGrid1{
        display: none !important;
    }
}
@media only screen and (max-width: 900px){
    #footerGrid2{
        display: none !important;
    }
}